/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Fundo claro neutro */
}

/* Estilos para o Header */
header {
    background-color: #3a7d44; /* Verde sólido */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0; /* Remove margem para um layout mais limpo */
}

/* Estilos para o Main */
main {
    padding: 30px;
    background-color: white; /* Fundo branco */
    margin: 20px auto;
    max-width: 800px; /* Largura máxima mais reduzida */
    border-radius: 8px; /* Bordas arredondadas sutis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

main h2 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px; /* Reduzido para mais simplicidade */
}

/* Estilos da Lista de Biomas */
ul {
    list-style-type: none; /* Remove marcadores */
    padding: 0;
}

li {
    margin: 15px 0; /* Margem para espaçamento entre itens */
}

h3 {
    color: #333;
    margin-bottom: 5px; /* Margem menor para mais simplicidade */
    font-size: 1.5em; /* Tamanho de fonte menor */
}

/* Estilo das Imagens */
.biome-image {
    width: 100%;
    height: 200px; /* Altura fixa para uniformidade */
    object-fit: cover; /* Ajuste a imagem para caber no contêiner */
    border-radius: 5px; /* Bordas arredondadas sutis */
}

/* Estilos para o Footer */
footer {
    background-color: #3a7d44;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    main {
        padding: 20px; /* Reduz o preenchimento em telas menores */
    }
}

@media (max-width: 480px) {
    li {
        font-size: 1.2em; /* Ajusta o tamanho da fonte em dispositivos móveis */
    }
}
iome-image:hover {
    border-color: #275734; /* Muda a cor da borda ao passar o mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra leve ao passar o mouse */
}


@media (max-width: 480px) {
    li {
        width: 100%; /* Para dispositivos móveis, mostra um item por linha */
    }
}
